* {
    box-sizing: border-box;
} 
html {
    background-color: rgb(174, 233, 157);
    text-shadow: .5px .5px 1px rgba(0, 0, 0, 0.654);
}

body {
    background-color: rgb(4, 67, 39);
    height: 100%;
    font-family: tahoma;
    margin: 0 5vw 0 5vw;
    padding: 100px 0 0 0;
    box-shadow: 0px 0px 3px 2px;
}

.navContainer {
    background-color: whitesmoke;
    position:fixed;
    padding-bottom: 1%;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 1px 1px 5px;
    
}

#name {
    color: rgb(4, 67, 39);
    font-family: courier;
    font-weight: bold;
    float: right;
    font-size: 50px;
    padding: 1% 5% 0 1%;
    margin: 0 0 0 0;
}

.navBar {
    display:flex;
    width: 60%;
    margin: 2% 0 0 0;
}

nav > a {
    color: rgb(4, 67, 39);
    text-decoration: none;
    font-size: 1.5rem;  
    float:left;
    text-align: center;
    padding: 0 2% 0 2%;
    margin: 0 2% 0 2%;
    border-radius: 1rem;

}

.content {
    min-height: 100vh;
    /* border: solid 1px orange; */
    color: whitesmoke;
    margin: 0px 2vw 0 2vw;
    padding: 0 0 0 0;
    align-items: center;
    text-align: center;
}

.content > img {
    width: 25%;
    margin: 5% 0 5% 0;
}

.quote {
    font-family: Apple Chancery;
    font-size: 3rem;
    text-align: center;
    margin: 0 0 15% 0;
    font-weight:bold;
    font-style: italic;
}

.active {
    border-radius: 0;
    border-bottom: solid 2px rgb(86, 86, 86);
}

.inactive:hover {
    background-color: rgba(17, 151, 91, 0.771);
    color: whitesmoke;
}
