* {
    box-sizing: border-box;
} 
html {
    background-color: rgb(174, 233, 157);
    text-shadow: .5px .5px 1px rgba(0, 0, 0, 0.654);
}

body {
    background-color: rgb(4, 67, 39);
    height: 100%;
    font-family: tahoma;
    margin: 0 5vw 0 5vw;
    padding: 100px 0 0 0;
    box-shadow: 0px 0px 3px 2px;
}

.navContainer {
    background-color: whitesmoke;
    position:fixed;
    padding-bottom: 1%;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 1px 1px 5px;
    
}

img {
    width: 25%;
    margin: 5% 0 5% 0;
}

#name {
    color: rgb(4, 67, 39);
    font-family: courier;
    font-weight: bold;
    float: right;
    font-size: 50px;
    padding: 1% 5% 0 1%;
    margin: 0 0 0 0;
}

.navBar {
    display:flex;
    width: 60%;
    margin: 3% 0 0 0;
}

nav > a {
    color: rgb(4, 67, 39);
    text-decoration: none;
    font-size: 1.5rem;  
    float:left;
    text-align: center;
    padding: 0 2% 0 2%;
    margin: 0 2% 0 2%;
    border-radius: 1rem;
}

.active {
    border-radius: 0;
    border-bottom: solid 2px rgb(86, 86, 86);
}

.inactive:hover {
    background-color: rgba(17, 151, 91, 0.771);
    color: whitesmoke;
}

.content {
    min-height: 100vh;
    /* border: solid 1px orange; */
    color: whitesmoke;
    margin: 0px 2vw 0 2vw;
    padding: 0 0 0 0;
}



.homecontent {
    align-items: center;
    text-align: center;
}

.quote {
    font-family: Apple Chancery;
    font-size: 3rem;
    text-align: center;
    margin: 0 0 15% 0;
    font-weight:bold;
    font-style: italic;
}

.aboutcontent {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.aboutsection {
    width: calc(100% / 3);
    padding: 0 1% 1% 2%;
    border: 3px solid whitesmoke;
    margin: 0 0 2% 0;
}

.aboutsection:first-child {
    border-radius: 1rem 0 0 1rem;
    border-right-width: 0px;
}

.aboutsection:last-child {
    border-radius: 0 1rem 1rem 0;
    border-left-width: 0px;
}

.aboutsection > img {
    width: 25vw;
}

.aboutsection > h3 {
    text-align: center;
}




@media (max-width: 450px) {
    body {
        padding: 220px 0 0 0;
    }

    .navContainer {
        padding: 0 0 0 5%;
    }

    .navBar {
        flex-direction: column;
    }

    nav > a {
        padding: 0 0 0 0;
        text-align: left;
    }

    .active {
        border-bottom: none;
        text-decoration: underline;
    }

    .inactive:hover {
        font-weight: bold;
        color:  rgba(17, 151, 91, 0.771);
        background-color: whitesmoke;
    }
    
    .aboutcontent {
        flex-direction: column;
    }
    
    .aboutsection {
        width: 100%;
        margin: 0 0 0 0;
        border: 3px solid whitesmoke;
        align-items: center;
        
    }

    .aboutsection > img {
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .aboutsection:first-child {
        border-radius: 1rem 1rem 0 0;
        border-bottom-width: 0px;
        border-right-width: 3px;
    }
    
    .aboutsection:last-child {
        border-radius: 0 0 1rem 1rem;
        border-top-width: 0px;
        border-left-width: 3px;
        margin: 0 0 2% 0;
    }
    
}